@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

/* .flex-fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.bar {
    display: flex;
    background-color: #1F2937;
    white-space: nowrap;
}

.bar a {
    text-decoration: none;
    color: #E5E7EB;
}

.bar.top {
    justify-content: space-around;
    align-items: center;
    flex: none;
}

.bar.bottom {
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 10px;
}

.right-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 10px;
}

.bar.top .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10px;
    font-weight: bold;
    border: 1px solid red;
    flex: 0 0 1;
}

.contentboxone {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    /* border: 2px solid purple; */
    padding: 5rem;
}

.landscape-image {
    flex: 1 0 0;
    min-width: none;
    border: 2px solid red;
    overflow: auto;
    align-self: stretch;
    margin: 0;
}

.landscape-image > img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

@media screen and (max-width: 600px) {

    .landscape-image {display:none;}
}

.left-text {
    border: 1px solid red;
    justify-content: center;
    align-items: left;
    align-self: start;
    flex: 1 1 0;
    margin: 0 5rem 0 1rem;
}

.left-text > p {
    color: #E5E7EB;
}

.left-text > h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.left-text > * {
    margin: 0.35rem;
}

button {
    color: white;
    background: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    padding: 8px 16px;
}

.contentboxtwo {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid red;
    flex: initial;
}

.series-layout {
    border: 2px solid orange;
}

.imageborder {
    color: #3882F6;
    font-size: 26px;
    font-weight: 700;
    background: white;
    width: 42px;
    height: 42px;
    border-radius: 10%;
    border: 2px solid #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

.contentboxthree {
    display: flex;
    flex: initial;
}